<h1>Attribute Directives</h1>
<h2>ngClass / ngStyle</h2>
<!--<div [ngClass]="{border: true, background: true}"></div>-->
<div [ngStyle]="{'background-color': 'red'}"></div>
<hr>
<h2>Custom Attribute Directive</h2>
<div dirHighlight>Some Text</div>
<h1>Structural Directive</h1>
<h2>*ngIf</h2>
<div *ngIf="switch">Conditional Text</div>
<button (click)="onSwitch()">Switch</button>
<hr>
<h2>*ngFor</h2>
<ul>
  <li *ngFor="let item of items; let i = index">{{item}} - (Index: {{i}})</li>
</ul>
<hr>
<h2>ngSwitch</h2>
<div [ngSwitch]="value">
  <p *ngSwitchCase="10">10</p>
  <p *ngSwitchCase="100">100</p>
  <p *ngSwitchDefault="">Default</p>
</div>
